.filters-dropdown {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-dropdown.open {
  max-height: 600px;
  opacity: 1;
}

.filters-dropdown.closed {
  max-height: 0;
  opacity: 0;
}

.filters-dropdown.open {
  max-height: 500px;
  opacity: 1;
}

.filters-dropdown.closed {
  max-height: 0;
  opacity: 0;
}
